services:
  
  api:
    
    build:
      context: .
      dockerfile: api/Dockerfile
      platforms:
        - "linux/amd64"
        - "linux/arm64"

    image: yashaur/ev-api:v1
    
    container_name: fastapi

    expose:
      - "8000"

  app:

    build:
      context: .
      dockerfile: app/Dockerfile
      platforms:
        - "linux/amd64"
        - "linux/arm64"

    image: yashaur/ev-app:v1

    container_name: streamlit

    ports:
     - "8501:8501"
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api