services:
  
  api:
    
    build:
      context: .
      dockerfile: api/Dockerfile
    
    container_name: fastapi

    expose:
      - "8000"

  app:

    build:
      context: .
      dockerfile: app/Dockerfile

    container_name: streamlit

    ports:
     - "8501:8501"
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api